<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.infra.member.MemberMapper">

	<resultMap id="resultMapObj"
		type="com.mycompany.app.infra.member.Member"></resultMap>

	<sql id="selectAll">
		seq
		, id
		, password
		, nickname
		, emailAccount
		, (SELECT
		cdName
		FROM code AS d
		WHERE d.cdSeq = m.emailDomain) AS emailDomain
		, gender
		, dob
		, agreeDT
		, delNy
		, userType
	</sql>
	
	<sql id ="selectCommon">
   		FROM
		user AS m
		WHERE 1=1
		AND emailDomain = m.emailDomain
		<!-- AND gender = m.gender -->
		<if test="id != null and !id.equals('')">AND id LIKE CONCAT('%',#{id},'%')</if>
		<if test="nickname != null and !nickname.equals('')">AND nickname LIKE CONCAT('%',#{nickname},'%')</if>
		<if test="emailAccount != null and !emailAccount.equals('')">AND emailAccount LIKE CONCAT('%',#{emailAccount},'%')</if>
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.* FROM (   	
	   		SELECT
				<include refid="selectAll"></include>
				<include refid="selectCommon"></include>
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		seq
		, id
		, password
		, nickname
		, emailAccount
		, emailDomain
		, gender
		, agreeDT
		, delNy
		FROM user
		WHERE 1=1
		AND seq = #{seq}
		AND id = #{id}
		AND password = #{password}
		AND nickname = #{nickname}
		AND emailAccount = #{emailAccount}
		AND emailDomain = #{emailDomain}
		AND gender = #{gender}
		AND agreeDT = #{agreeDT}
		AND delNy = 0
	</select>
	
	<select id="selectOneProfile" resultMap="resultMapObj">
		SELECT
			seq
			, id
			, password
			, nickname
			, emailAccount
			, (SELECT
				cdName
				FROM code AS d
				WHERE d.cdSeq = m.emailDomain) AS emailDomain
			, gender
			, delNy
		FROM user AS m
		WHERE 1=1
			AND id = #{id}
			AND delNy = 0
	</select>
	
	<update id="updtProfile">
		UPDATE user
		SET
		password = #{password}
		WHERE 1=1
		AND id = #{id}
	</update>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
		seq
		, id
		, password
		, nickname
		<!-- , userType -->
		FROM user
		WHERE 1=1
		AND id = #{id}
		AND password = #{password}
		<!-- AND userType = #{userType} -->
	</select>
	
	<select id="loginXdm" resultMap="resultMapObj">
		SELECT
		seq
		, id
		, password
		, nickname
		, userType
		FROM user
		WHERE 1=1
		AND id = #{id}
		AND password = #{password}
		AND userType = 2
	</select>

	<select id="insert" resultMap="resultMapObj">
		INSERT INTO user(
		id
		, password
		, nickname
		, emailAccount
		, emailDomain
		, gender
		, dob
		, agreeDT
		, delNy
		, userType
		) values (
		#{id}
		, #{password}
		, #{nickname}
		, #{emailAccount}
		, #{emailDomain}
		, #{gender}
		, #{dob}
		, #{agreeDT}
		, 0
		, #{userType}
		)
	</select>
	
	<select id="idCheck" resultType="Integer">
		SELECT
		COUNT(seq)
		FROM user
		WHERE 1=1
		AND id = #{id}
	</select>
	
	<select id="selectListUpload" resultMap="resultMapObj">
		SELECT
			type
			 , path
			 , originalName
			 , uuidName
			 , ext
			 , size
			 , delNy
			 , pseq
		FROM
			userUploaded
		WHERE 1=1
		  AND path LIKE CONCAT('%user%')
		  AND pseq = #{seq}
	</select>
	
	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{type}
			,#{defaultNy}
s			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	
</mapper>    
    