<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.infra.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.mycompany.app.infra.member.Member"></resultMap>
	
	<sql id="selectAll">
	SELECT
		seq
		, id
		, password
		, nickname
		, emailAccount
		, (SELECT
				cdName
        	FROM code AS d 
        	WHERE d.cdSeq = m.emailDomain) AS emailDomain
		, (SELECT
			CASE
				WHEN gender = 4 THEN '남성'
            	WHEN gender = 5 THEN '여성'
            	ELSE '기타'
			END
        	FROM code AS d
        	WHERE d.cdSeq = m.gender) AS gender
		, age
		, agreeDT
		, delNy
	</sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
			<include refid="selectAll"></include>
		FROM
			user AS m
		WHERE 1=1
			AND emailDomain = m.emailDomain
			AND gender = m.gender
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
    </select>

</mapper>    
    